*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  line-height: 24px;
  color: var(--ink);
  background-image: url("../img/teaboom-pattern.png");
  background-color: #fbfbfb;
}

.page__main {
  padding-bottom: 40px;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding-right: var(--container-offset);
  padding-left: var(--container-offset);
  max-width: var(--container-width);
}
